* { // Звездочка значит что ко всем применяется элементам на странице стили
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container { // будет ограничивать контент на странице
    max-width: 1140px; // классический размер контейнера
    padding: 0px 15px;
    margin: 0px auto; // с помощью такого падинг и марджина мы можем оцентрировать блок по горизонтали
}